name: Deploy Lambda

run-name: Deploy to ${{ inputs.environment || 'DEV' }} - ${{ inputs.release-tag || github.sha }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment
        required: true
        type: environment
      release-tag:
        description: Release tag to deploy (e.g., 1.0.0)
        required: true
        type: string
  
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  deploy-main:
    if: ${{ github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success' }}
    uses: kvncont/gh-workflows/.github/workflows/aws-lambda-cd.yml@main
    with:
      environment: DEV
      artifact-source: github
      artifact-name: lambda-${{ github.sha }}
      zip-file: lambda-${{ github.sha }}.zip
      run-id: ${{ github.event.workflow_run.id }}
      version-description: "Deploy: CI/CD ${{ github.sha }}"
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy-release:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: kvncont/gh-workflows/.github/workflows/aws-lambda-cd.yml@main
    with:
      environment: ${{ inputs.environment }}
      artifact-source: s3
      s3-prefix: releases/${{ inputs.environment }}/${{ github.event.repository.name }}/${{ inputs.release-tag }}
      zip-file: lambda-${{ inputs.release-tag }}.zip
      version-description: "Deploy: Release ${{ inputs.release-tag }}"
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}