name: Deploy

run-name: ${{ format('Deploy release to {0} - [{1}]', inputs.environment, inputs.release-tag) }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment
        required: true
        type: environment
      release-tag:
        description: Release tag to deploy (e.g., 1.0.0)
        required: true
        type: string

jobs:
  download-from-s3:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    uses: kvncont/gh-workflows/.github/workflows/aws-s3-download.yml@main
    with:
      environment: ${{ inputs.environment }}
      s3-prefix: releases/${{ inputs.environment }}/${{ github.event.repository.name }}/${{ inputs.release-tag }}
      s3-file: lambda-${{ inputs.release-tag }}.zip
      artifact-name: lambda-${{ inputs.release-tag }}
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    needs: download-from-s3
    uses: kvncont/gh-workflows/.github/workflows/aws-lambda-cd.yml@main
    with:
      environment: ${{ inputs.environment }}
      artifact-name: lambda-${{ inputs.release-tag }}
      zip-file: lambda-${{ inputs.release-tag }}.zip
      version-description: "Deploy release: [${{ inputs.release-tag }}]"
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
