name: Deploy Lambda Function

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment
        required: true
        type: environment
      release-tag:
        description: Release tag to deploy (e.g., 1.0.0)
        required: true
        type: string

jobs:
  deploy:
    uses: kvncont/gh-workflows/.github/workflows/aws-lambda-cd.yml@feature/python-lambdas-workflows
    with:
      environment: ${{ inputs.environment }}
      artifact-source: s3
      s3-prefix: releases/${{ inputs.environment }}/${{ github.event.repository.name }}/${{ inputs.release-tag }}
      zip-file: lambda-${{ inputs.release-tag }}.zip
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}