name: Deploy

run-name: ${{ format('Deploy release to {0} - [{1}]', inputs.environment, github.ref_name) }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Target environment
        required: true
        type: environment
      # release-tag:
      #   description: Release tag to deploy (e.g., 1.0.0)
      #   required: true
      #   type: string

jobs:
  download-from-s3:
    if: ${{ github.event_name == 'workflow_dispatch' && github.ref_type == 'tag'}}
    uses: kvncont/gh-workflows/.github/workflows/aws-s3-download.yml@main
    with:
      environment: ${{ inputs.environment }}
      s3-prefix: releases/${{ inputs.environment }}/${{ github.event.repository.name }}/${{ github.ref_name }}
      s3-file: lambda-${{ github.ref_name }}.zip
      artifact-name: lambda-${{ github.ref_name }}
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  deploy:
    if: ${{ github.event_name == 'workflow_dispatch' && github.ref_type == 'tag'}}
    needs: download-from-s3
    uses: kvncont/gh-workflows/.github/workflows/aws-lambda-cd.yml@main
    with:
      environment: ${{ inputs.environment }}
      aws-lambda: ${vars.LAMBDA_NAME}-${{ inputs.environment }}
      aws-region: |
        ${{ case(
          inputs.environment,
          'DR', 'VARS.AWS_REGION_SECONDARY',
          'VARS.AWS_REGION_PRIMARY'
        ) }}
      artifact-name: lambda-${{ github.ref_name }}
      zip-file: lambda-${{ github.ref_name }}.zip
      env-file: config/dev.json
      version-description: "Deploy release: [${{ github.ref_name }}]"
      aws-s3-bucket: my-lambda-deployments
    secrets:
      aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
