name: Release

on:
  release:
    types:
      - published

jobs:
  build:
    uses: kvncont/gh-workflows/.github/workflows/python-ci.yml@feature/python-lambdas-workflows
    with:
      python-version: 3.14
      zip-name: lambda-${{ github.event.release.tag_name }}.zip
      artifact-name: lambda-${{ github.event.release.tag_name }}
      run-tests: false
      run-linting: false

  upload-to-release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: lambda-${{ github.event.release.tag_name }}
          path: ./dist

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./dist/*.zip
